{% extends 'schletter_app/base.html' %}
{% load my_tags %}
{% block page_title %}{{author.last_name}}{% endblock page_title %}
{% block page_header %}
  <h3 class="pb-2">{{author}}</h3>
{% endblock page_header %}

{% block content %}
  {% if author.birth > 0 %}<p>Birth: {{ author.birth }}</p>{% endif %}
  {% if author.death > 0 %}<p>Death: {{ author.death }}</p>{% endif %}
  <p>Work(s):</p>
  <ul>
    {% for aw in author.authorwork_set.all|sort_by:"work" %}
      <li>
        {% if aw.work.title == "No title" %}
          <a href="{% url 'schletter_app:work' aw.work.pk %}">
              {{aw.work.title}}</a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %} 
        {% else %}
          <a href="{% url 'schletter_app:work' aw.work.pk %}">
              <em>{{aw.work.title}}</em></a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %}{% if aw.work.source_title %}; original title: <em>{{aw.work.source_title}}</em>{% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{author.works.all.count}}</p>
  {% if author.notes != "NA" %}
    <p>Notes:</p>
    <div class="row col-sm-8">
      <div class="indent">{{ author.notes|safe }}</div>
    </div>
  {% endif %}

  <!-- Previous and Next arrows -->
  <div class="arrow" id="arrow-left">
    {% if prev_pk %}
      <a href="{% url 'schletter_app:author' prev_pk %}?{{ request.GET.urlencode }}"><i class="bi-chevron-left"></i></a>
    {% endif %}
   </div> 
   <div class="arrow" id="arrow-right">
    {% if next_pk %}
      <a href="{% url 'schletter_app:author' next_pk %}?{{ request.GET.urlencode }}"><i class="bi-chevron-right"></i></a>
    {% endif %}
  </div>
{% endblock content %}