{% extends 'schletter_app/base.html' %}
{% block page_header %}<h3 class="pb-2">{{author.last_name}}{% if author.first_names != "NA" %}, {{author.first_names}}{% endif %}</h3>{% endblock page_header %}

{% block content %}
  {% if author.birth > 0 %}<p>Birth: {{ author.birth }}</p>{% endif %}
  {% if author.death > 0 %}<p>Death: {{ author.death }}</p>{% endif %}
  <p>Works(s):</p>
  <ul>
    {% for aw in author.authorwork_set.all %}
      <li><a href="{% url 'schletter_app:work' aw.work.pk %}">
            <em>{{aw.work.title}}</em>
        </a> ({{aw.role}})
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{author.works.all.count}}</p>
  {% if author.notes != "NA" %}
    <p>Notes:</p>
    <p class="indent">{{author.notes|safe}}</p>
  {% endif %}
{% endblock content %}