{% extends 'schletter_app/base.html' %}
{% block page_header %}
  <h3 class="pb-2">{{author}}</h3>
{% endblock page_header %}

{% block content %}
  {% if author.birth > 0 %}<p>Birth: {{ author.birth }}</p>{% endif %}
  {% if author.death > 0 %}<p>Death: {{ author.death }}</p>{% endif %}
  <p>Work(s):</p>
  <ul>
    {% for aw in author.authorwork_set.all %}
      <li>
        {% if aw.work.title == "No title" %}
          <a href="{% url 'schletter_app:work' aw.work.pk %}">
              {{aw.work.title}}</a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %} 
        {% else %}
          <a href="{% url 'schletter_app:work' aw.work.pk %}">
              <em>{{aw.work.title}}</em></a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %} 
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{author.works.all.count}}</p>
  {% if author.notes != "NA" %}
    <p>Notes:</p>
    <div class="row col-sm-8">
      <div class="indent">{{ author.notes|safe }}</div>
    </div>
  {% endif %}
{% endblock content %}