{% extends 'schletter_app/base.html' %}
{% block page_title %}Authors{% endblock page_title %}
{% block page_header %}
  <div class="row">
    <h2>Authors &#38; Choreographers</h2>
    <span class="mt-2 pl-4"> ({{ paginator.count }})</span>
  </div>
  <div class="row pb-3">
    <div class="col-sm-6 mt-2">Click on a row to see the detail view for the person</div>
    <div class="col-sm-6">
      
      <form class="form-inline float-right" action="{% url 'schletter_app:authors' %}" method="get">
        <input name="q" class="form-control" type="text" placeholder="Search">
        <button class="btn btn-primary ml-2" type="submit">Search</button>
        <a class="btn btn-secondary ml-2" href="{% url 'schletter_app:authors' %}" role="button">Reset</a>
      </form>
    </div>
  </div>
{% endblock page_header %}
{% block content %}
  <ul>
    {% for author in authors %}
      <a href="{% url 'schletter_app:author' author.pk %}?{{ request.GET.urlencode }}" class="list-group-item list-group-item-action">
        {{ author }}            
      </a>
    {% empty %}
      <p>No authors match this search</p>
    {% endfor %}
  </ul>

{% endblock content %}