{% load bootstrap4 %}
{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock  %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="{% static 'schletter/style.css' %}">
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light mb-4 border">
    <a href="{% url 'schletter_app:index' %}" class="navbar-brand">Schletter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
   
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schletter_app:calendar' %}">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schletter_app:events' %}" >Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schletter_app:works' %}">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schletter_app:authors' %}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schletter_app:composers' %}">Composers</a>
        </li> 
      </ul> 
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>    
    </div>
  </nav> 
  <main class="container">
    <div>
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>

    <!-- Bootstrap 4 pagination -->
    <!-- Adapted from https://www.caktusgroup.com/blog/2018/10/18/filtering-and-pagination-django/ -->
    {% if is_paginated %}
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </main>
</body>
</html>
