{% extends 'schletter_app/base.html' %}
{% load my_tags %}
{% block page_title %}Calendar{% endblock page_title %}
{% block page_header %}
  <div class="row">
    <h2>Calendar</h2>
    <form class="form-inline ml-auto" action="{% url 'schletter_app:calendar' %}" method="get">
      <div class="form-group pb-2">
        <label class="mr-2 ml-auto">Date range: </label>
        <input name="date_min" class="form-control mr-2" style = "width: 120px" type="text" min="1781-01-21" max="1782-12-31" placeholder="1781-01-21" required>
        <input name="date_max" class="form-control mr-2" style = "width: 120px"type="text" min="1781-01-21" max="1782-12-31" placeholder="1782-12-31" required>
      </div>
      <div class="form-group pb-2 mr-2">
        <button class="btn btn-primary mr-2" type="submit">Search</button>
        <a class="btn btn-secondary mr-2" href="{% url 'schletter_app:calendar' %}" role="button">Reset</a>
      </div>
    </form>
  </div> 
  <div class="row pb-1">
      Click on a row to see the detail view for that event
  </div>     
{% endblock %}
{% block content %}
  {% for date in calendar %}
    <li class="font-weight-bold mt-2 mb-2">{{date}}</li>
    <div class="list-group">
      {% for event in date.event_set.all %}
        {% with event.work_set.all.first as work %}
          {% if not work or event.event_type == "closed" %}
            <li class="list-group-item list-group-item-action">{{event.title}}</li>
          {% else %}
            <a href="{{ event.get_absolute_url }}" class="list-group-item list-group-item-action">{{ event.title | display_title:work.genre | safe }}</a>
          {% endif %}
        {% endwith %}
      {% endfor %}
    <div>
  {% empty %}
    <p>No dates match this search</p>
  {% endfor %} 
{% endblock content %}