{% extends 'schletter_app/base.html' %}
{% block page_header %}<h3 class="pb-2">{{composer}}</h3>
{% endblock page_header %}

{% block content %}
  {% if composer.birth > 0 %}<p>Birth: {{ composer.birth }}</p>{% endif %}
  {% if composer.death > 0 %}<p>Death: {{ composer.death }}</p>
  <p>Work(s):</p>{% endif %}
  <ul>
    {% for work in composer.works.all %}
      <li><a href="{% url 'schletter_app:work' work.pk %}">
            <em>{{work.title}}</em></a> ({{work.genre}})
        
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{composer.works.all.count}}</p>
  {% if composer.notes != "NA" %}
    <p>Notes:</p>
    <p class="indent">{{composer.notes|safe}}</p>
  {% endif %}
{% endblock content %}