{% extends 'schletter_app/base.html' %}
{% block page_title %}{{composer.last_name}}{% endblock page_title %}
{% block page_header %}<h3 class="pb-2">{{composer}}</h3>
{% endblock page_header %}

{% block content %}
  {% if composer.birth > 0 %}<p>Birth: {{ composer.birth }}</p>{% endif %}
  {% if composer.death > 0 %}<p>Death: {{ composer.death }}</p>
  <p>Work(s):</p>{% endif %}
  <ul>
    {% for work in composer.works.all %}
      <li><a href="{{ work.get_absolute_url }}">
            <em>{{work.title}}</em></a> ({{work.genre}}){% if work.source_title %}; original title: <em>{{work.source_title}}</em>{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{composer.works.all.count}}</p>
  {% if composer.notes != "NA" %}
    <p>Notes:</p>
    <div class="row col-sm-8">
      <div class="indent">{{ composer.notes|safe }}</div>
    </div>
  {% endif %}

  <!-- Previous and Next arrows -->
  <div class="arrow" id="arrow-left">
    {% if prev_pk %}
      <a href="{% url 'schletter_app:composer' prev_pk %}?{{ request.GET.urlencode }}"><i class="bi-chevron-left"></i></a>
    {% endif %}
  </div>
  <div class="arrow" id="arrow-right">
    {% if next_pk %}
      <a href="{% url 'schletter_app:composer' next_pk %}?{{ request.GET.urlencode }}"><i class="bi-chevron-right"></i></a>
    {% endif %}
  </div>
{% endblock content %}