{% extends 'schletter_app/base.html' %}
{% load my_tags %}
{% block page_title %}Edit Composer{% endblock %}
{% block content %}
  <h3>Edit Composer</h3>
  <h5>{{ composer }}</h5>
  {% if user.is_authenticated %}
    <div class="form-group col-4 mt-3">
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Save</button>
        <a href="{{ view.get_success_url }}" class="btn btn-outline-secondary ml-2">Cancel</a>
      </form>
    </div>
  {% else %}
    <p>You must be an authorized user to access this page</p>
  {% endif %}
{% endblock content %}

