{% extends 'schletter_app/base.html' %}
{% load my_tags %}
{% block page_title %}Event{% endblock page_title %}
{% block page_header %}
  <h3 class="pb-2">Event: {{event.date}}</h3>
{% endblock page_header %}

{% block content %}
  <p>Theater: {{ event.theater }}</p>
  <p>Company: {{ event.company }}</p>
  <p>Title: 
    {% with event.work_set.all.first as work %}
        {% if not work or event.event_type == "closed" %}
          <td>{{event.title}}</td>
        {% else %}
          <td><a href="{% url 'schletter_app:work' work.pk %}">{{ event.title | display_title:work.genre | safe }}</a></td>
        {% endif %}
      {% endwith %}
  </p>
  <p>Type: {{ event.event_type }}</p>
  <p>Genre: {{ event.work_set.first.genre }}</p>
  {% if event.work_set.first.authorworks.exists %}
    <p>Author(s): </p>
      <ul>
        {% for aw in event.work_set.first.authorwork_set.all %}
          <li><a href="{% url 'schletter_app:author' aw.author.pk %}">{{ aw.author}}</a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %}</li>
        {% endfor %}
      </ul>
  {% endif %}
    {% if event.work_set.first.composerworks.exists and event.work_set.first.composerworks.first.last_name != "NA" %}
      <p>Composer: <a href="{% url 'schletter_app:composer' event.work_set.first.composerworks.first.pk %}">{{ event.work_set.first.composerworks.first }}</a></p>
    {% endif %}
  <p>Hadamowsky: {{event.hadamowsky}}</p>
  {% if event.morrow != "NA" %}
    <p>Morrow: {{event.morrow}}</p>
  {% endif %}
  {% if event.notes != "NA" %}
    <p>Notes:</p>
    <div class="row col-sm-8">
      <div class="indent">{{ event.notes|safe }}</div>
    </div>
  {% endif %}
  <hr>
  <div style="font-size:16px"> 
    <p>All events in the theaters on {{event.date}}:</p>
    <ul>
      {% for event in event.date.event_set.all %}
        <li>
          {% with event.work_set.all.first as work %}
            {% if not work or event.event_type == "closed" %}
              <td>{{event.title}}</td>
            {% else %}
              <td><a href="{% url 'schletter_app:work' work.pk %}">{{ event.title | display_title:work.genre | safe }}</a> ({{event.theater}}, {{work.genre}})</td>
            {% endif %}
          {% endwith %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% comment %} <ul class="pagination pt-3">
    <li class="page-link"><a href="#">Previous</a></li>
    <li class="page-link ml-auto"><a href="#">Next</a></li>
  </ul> {% endcomment %}
{% endblock content %}