{% extends 'schletter_app/base.html' %}
{% load my_tags %}
{% block page_title %}Events{% endblock page_title %}
{% block page_header %}
  <div class="row">
      <h2>Events</h2>
      <!-- paginator.count = number of items in current queryset -->
      <span class="pt-2 pl-2"> ({{ paginator.count }})</span>
    <form class="form-inline ml-auto" action="." method="get">
      <div class="form-group mb-3 mr-2">
        <select id="theater" name="theater" class="selectpicker" type="text" data-title = "Theater" data-width="150px">
          <option value="Bth">Bth</option>
          <option value="Kth">Kth</option>
        </select>
      </div>
      <!-- companies, event_types, and genres are lists of distinct -->
      <!-- field values defined as extra_content in views.py -->
      <div class="form-group mb-3 mr-2">        
        <select id="company" name="company" class="selectpicker" type="text" data-title = "Company" data-width="150px" multiple>
          {% for company in companies %}
            <option value="{{company}}">{{company}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group mb-3 mr-2">        
        <select id="event_type" name="event_type" class="selectpicker" type="text" data-title = "Type" data-width="150px" multiple>
          {% for event_type in event_types %}
            <option value="{{event_type}}">{{event_type}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group mb-3 mr-2">        
        <select id="genre" name="genre" class="selectpicker" type="text" data-title = "Genre" data-width="150px" multiple>
          {% for genre in genres %}
            <option value="{{genre}}">{{genre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group mb-3 mr-2">
        <button class="btn btn-primary mr-2" type="submit">Search</button>
        <a class="btn btn-secondary mr-2" href="{% url 'schletter_app:events' %}" role="button">Reset</a>
        <i class="mr-2 text-secondary bi-question-circle" style="font-size:24px" data-container="body" data-toggle="popover" data-placement="top" data-content="Dropdowns for Company, Type, and Genre accept multiple selections">
        </i>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th class="text-right" style="min-width: 160px">Date</th>
        <th style="min-width: 60px">Theater</th>
        <th style="min-width: 70px">Company</th>
        <th style="min-width: 70px">Type</th>
        <th style="min-width: 400px">Title</th>
        <th style="min-width: 215px">Genre</th>
      </tr>
    </thead>
    {% for event in events %}
      <tr>
        <td class="text-right">
          <a href="{{ event.get_absolute_url }}?{{ request.GET.urlencode }}">{{ event.date }}</a>
        </td>
        <td>{{ event.theater }}</td>
        <td>{{ event.company }}</td>
        <td>{{ event.event_type }}</td>
        {% with event.work_set.first as work %}
          {% if not work or event.event_type == "closed" %}
            <td>{{event.title}}</td>
          {% else %}
            <td><a href="{% url 'schletter_app:work' work.pk %}">{{ event.title | display_title:work.genre | safe }}</a></td>
          {% endif %}
          {% if work.source_title %}
            <td>{{ work.source_genre }}</td>
          {% else %}
            <td>{{work.genre}}</td>
          {% endif %}
        {% endwith %}
      </tr>
    {% empty%}
      <p>No events match this search</p>
    {% endfor %}
  </table>
{% endblock content %}


