{% extends 'schletter_app/base.html' %}
{% block page_header %}
  <h2>Works</h2>
  <div class="row pb-3">
    <div class="col-sm-6 mt-2">Click on a row to see the detail view for that work</div>
    <div class="col-sm-6">
      <a class="btn btn-secondary ml-2 float-right" href="{% url 'schletter_app:works' %}" role="button">Reset</a>
      <form class="form-inline float-right" action="{% url 'schletter_app:works' %}" method="get">
        <input name="q" class="form-control" type="text" placeholder="Search">
      </form>
      
    </div>
  </div>
{% endblock page_header %}
{% block content %}
  <ul>
    {% for work in works %}
      <a href="{% url 'schletter_app:work' work.pk %}" class="list-group-item list-group-item-action">
              {% if work.title == "No title" %}
                {{work.title}}
              {% else %}
                <em>{{work.title}}</em>
              {% endif %} ({{work.genre}})
      </a>
    {% endfor %}
  </ul>

{% endblock content %}