{% extends 'schletter_app/base.html' %}
{% block page_title %}Works{% endblock page_title %}
{% block page_header %}
  <div class="row">
    <h2>Works</h2>
    <!-- paginator.count = number of items in current queryset -->
    <span class="pt-2 pl-2"> ({{ paginator.count }})</span>
  </div>
  <div class="row pb-3">
    <div class="pb-1 mt-2">Click on a row to see the detail view for that work
    </div>
    <form class="form-inline ml-auto" action="{% url 'schletter_app:works' %}" method="get">
      <div class="form-group pb-1 mr-2">
        <input name="q" class="form-control" type="text" placeholder="Search">
      </div>
      <div class="form-group pb-1 mr-2">
        <button class="btn btn-primary mr-2" type="submit">Search</button>
        <a class="btn btn-secondary mr-2" href="{% url 'schletter_app:works' %}" role="button">Reset</a>
        <i class="mr-2 text-secondary fa fa-question-circle-o" style="font-size:24px" data-container="body" data-toggle="popover" data-placement="top" data-content="Case-insensitive search on full or partial title or genre">
        </i>
      </div>
    </form>
  </div>
{% endblock page_header %}
{% block content %}
  {% for work in works %}
    <a href="{{ work.get_absolute_url }}?{{ request.GET.urlencode }}" class="list-group-item list-group-item-action">
            {% if work.title == "No title" %}
              {{work.title}}
            {% else %}
              <em>{{work.title}}</em>
            {% endif %} ({{work.genre}}){% if work.source_title %}; original title: <em>{{work.source_title}}</em>
            {% endif %}
    </a>
  {% empty %}
    <p>No works match this search</p>
  {% endfor %}
{% endblock content %}