{% extends 'schletter_app/base.html' %}
{% block page_title %}Work{% endblock page_title %}
{% block page_header %}
  {% if work.title == "Concert" or work.title == "No title" %}
    <h3 class="pb-2">{{work.title}}</h3>
  {% else %}
    <h3 class="pb-2"><em>{{work.title}}</em></h3>
  {% endif %}
{% endblock page_header %}

{% block content %}
  <p>Genre: {{ work.genre }}</p>
  {% if work.authorworks.exists %}
    <p>Author(s):</p>
      <ul>
        {% for aw in work.authorwork_set.all %}
          <li>
            <a href="{% url 'schletter_app:author' aw.author.pk %}">{{aw.author}}</a>{% if aw.role != "NA" %} ({{aw.role}}){% endif %}
          </li>
        {% endfor %}
      </ul>
  {% endif %}
  {% if work.composerworks.exists and work.composerworks.first.last_name != "NA" %}
    <p>Composer: <a href="{% url 'schletter_app:composer' work.composerworks.first.pk %}">{{ work.composerworks.first }}</a></p>
  {% endif %}
  <p>Performance(s):</p>
  <ul>
    {% for event in work.events.all %}
      <li><a href="{% url 'schletter_app:event' event.pk %}">{{event.date}}</a> ({{event.theater}}{% if event.company != "NA" %}, {{event.company}}{% endif %}){% if work.genre == "Concert" %}, {{event.title}}{% elif event.title != work.title %}, as <em>{{event.title}}</em>{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{work.events.all.count}}</p>
  {% if work.notes != "" %}
    <p>Notes:</p>
    <div class="row col-sm-8 mb-3">
      <div class="indent">{{ work.notes|safe }}</div>
    </div>
  {% endif %}
  {% if work.url != "" %}
    <p>URL: <a href="{{ work.url }}" target="_blank">{{ work.url }}</a></p>
  {% endif %}
  <ul class="pagination pt-3">
    {% if prev_pk %}
      <li class="page-link"><a href="{% url 'schletter_app:work' prev_pk %}?{{ request.GET.urlencode }}">Previous</a></li>
    {% endif %}
    {% if next_pk %}
      <li class="page-link ml-auto"><a href="{% url 'schletter_app:work' next_pk %}?{{ request.GET.urlencode }}">Next</a></li>
    {% endif %}
  </ul>
{% endblock content %}
