{% extends 'schletter_test/base.html' %}
{% block page_header %}<h2>{{author.last_name}}</h2>{% if author.first_names != "NA" %}{{author.first_names}}{% endif %}{% endblock page_header %}

{% block content %}
  {% if author.birth > 0 %}<p>Birth: {{ author.birth }}</p>{% endif %}
  {% if author.death > 0 %}<p>Death: {{ author.death }}</p>{% endif %}
  <p>Works(s):</p>
  <ul>
    {% for work in author.works.all %}
      <li><a href="{% url 'schletter_test:work' work.pk %}">
            <em>{{work.title}}</em>
        </a>
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{author.works.all.count}}</p>
  {% if author.notes != "NA" %}
    <p>Notes:</p>
    <p>{{author.notes|safe}}</p>
  {% endif %}
{% endblock content %}