{% extends 'schletter_test/base.html' %}
{% block page_header %}<h3 class="pb-2">{{composer.last_name}}{% if composer.first_names != "NA" %}, {{composer.first_names}}{% endif %}</h3>{% endblock page_header %}

{% block content %}
  {% if composer.birth > 0 %}<p>Birth: {{ composer.birth }}</p>{% endif %}
  {% if composer.death > 0 %}<p>Death: {{ composer.death }}</p>
  <p>Works(s):</p>{% endif %}
  <ul>
    {% for work in composer.works.all %}
      <li><a href="{% url 'schletter_test:work' work.pk %}">
            <em>{{work.title}}</em>
        </a>
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{composer.works.all.count}}</p>
  {% if composer.notes != "NA" %}
    <p>Notes:</p>
    <p>{{composer.notes}}</p>
  {% endif %}
{% endblock content %}