{% extends 'schletter_test/base.html' %}
{% block page_header %}
  <h2>{{event.date}}</h2>
{% endblock page_header %}

{% block content %}
  <p>Theater: {{ event.theater }}</p>
  <p>Company: {{ event.company }}</p>
  <p>Title: 
      {% if event.company == "NA" %}
          {{ event.title }}
      {% elif event.title == "No title" %}
        <a href="{% url 'schletter_test:work' event.work_set.all.first.pk %}">{{ event.title }}</a>
      {% else %}
        <a href="{% url 'schletter_test:work' event.work_set.all.first.pk %}"><em>{{ event.title }}</em></a>
      {% endif %}
  </p>
  <p>Genre: {{ event.work_set.all.first.genre }}</p>
  <p>Author: {{ event.work_set.all.first.author }}</p>
  <p>Composer: {{ event.work_set.all.first.composer }}</p>
  <p>Hadamowsky: {{event.hadamowsky}}</p>
  <p>Morrow: {{event.morrow}}</p>
  {% if event.notes != "NA" %}
    <p>Notes: </hp> {{ event.notes|safe }}
  {% endif %}
  
{% endblock content %}