{% extends 'schletter_test/base.html' %}
{% block page_header %}
    <h2>{{event.date}}</h2>
  {% endblock page_header %}

{% block content %}
  <p>Theater: {{ event.theater }}</p>
  <p>Company: {{ event.company }}</p>
  <p>Title: 
      {% if event.title == "No title" or event.title == "" or event.genre == "" %}
        {{ event.title }}
      {% else %}
        <em>{{ event.title }}</em>
      {% endif %}
  </p>
  <p>Genre: {{ event.genre }}</p>
  <p>Author: {{ event.author }}</p>
  <p>Composer: {{ event.composer }}</p>
  {% if event.notes != "NA" %}
    <p>Notes: {{ event.notes }}</p>
  {% endif %}
  
{% endblock content %}