{% extends 'schletter_test/base.html' %}
{% block page_header %}
  <h2><em>{{work.title}}</em></h2>
{% endblock page_header %}

{% block content %}
  <p>Genre: {{ work.genre }}</p>
  <p>Author: {{ work.author }}</p>
  <p>Composer: {{ work.composer }}</p>
  <p>Performance(s):</p>
  <ul>
    {% for event in work.events.all %}
      <li><a href="{% url 'schletter_test:event' event.pk %}">{{event.date}}</a> ({{event.theater}}, {{event.company}}){% if event.title != work.title %}, as <em>{{event.title}}</em>{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{work.events.all.count}}</p>
  {% if work.notes != "NA" %}
    <p>Notes:</p>
    <p>{{work.notes}}</p>
  {% endif %}
  {% if work.url != "NA" %}
    <p>URL: <a href="{{ work.url }}" target="_blank">{{ work.url }}</a></p>
  {% endif %}
{% endblock content %}
