{% extends 'schletter_test/base.html' %}
{% block page_header %}
  {% if work.title == "Concert" %}
    <h3 class="pb-2">Concerts</h3>
  {% else %}
    <h3 class="pb-2"><em>{{work.title}}</em></h3>
  {% endif %}
{% endblock page_header %}

{% block content %}
  <p>Genre: {{ work.genre }}</p>
  <p>Author(s):</p>
    <ul>
      {% for aw in work.authorwork_set.all %}
        <li>
          <a href="{% url 'schletter_test:author' aw.author.pk %}">{{aw.author.last_name}}{% if aw.author.first_names != "NA" %}, {{aw.author.first_names}}{% endif %}</a> ({{aw.role}})
        </li>
      {% endfor %}
    </ul>
  {% if work.composerworks.first.last_name != "NA" %}
    <p>Composer: <a href="{% url 'schletter_test:composer' work.composerworks.first.pk %}">{{ work.composerworks.first.last_name }}{% if work.composerworks.first.first_names != "NA" %}, {{ work.composerworks.first.first_names }}{% endif %}</a></p>
  {% endif %}
  <p>Performance(s):</p>
  <ul>
    {% for event in work.events.all %}
      <li><a href="{% url 'schletter_test:event' event.pk %}">{{event.date}}</a> ({{event.theater}}{% if event.company != "NA" %}, {{event.company}}{% endif %}){% if work.genre == "Concert" %}, {{event.title}}{% elif event.title != work.title %}, as <em>{{event.title}}</em>{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>Total: {{work.events.all.count}}</p>
  {% if work.notes != "" %}
    <p>Notes:</p>
    <p>{{work.notes}}</p>
  {% endif %}
  {% if work.url != "" %}
    <p>URL: <a href="{{ work.url }}" target="_blank">{{ work.url }}</a></p>
  {% endif %}
{% endblock content %}
